$border: #3499BA;
$border-hover: #9ECAED;
$bg: rgb(2, 11, 16);
$bg-transparent: rgba(2, 11, 16, 0.9);
$text: #C6E9F2;
$title: #E3EFF2;
$title-outline: #7299B5;
$ring-1: $border;
$ring-2: $title;
$ring-3: #315379;

@font-face {
  font-family: 'Ubuntu';
  src: url('../css/fonts/UbuntuCondensed-Regular.ttf');

}

body {
	color: $text;
	text-align: center;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05212e+0,020b10+43,000000+99 */
background: #05212e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #05212e 0%, #020b10 43%, #000000 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #05212e 0%,#020b10 43%,#000000 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #05212e 0%,#020b10 43%,#000000 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05212e', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#audio {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 4%;

  &.on {
    background: no-repeat center /100% url('../svg/volume-medium.svg');
  }

  &.off {
   background: no-repeat center /100% url('../svg/volume-mute.svg'); 
  }

  &:hover {
    cursor: pointer;
  }
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  color: $title;
  -webkit-text-stroke: 1px $title-outline;

  &::after {
    content: '';
    position: absolute;
    top: 82%;
    left: 50%;
    box-shadow: 0 0 2px 15px $border-hover;
    background-color: $border-hover;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: scale(8, 0.1);
  }
}

.avenger {
	border: 2px solid $border;
	margin: 10px 10px;
  display: inline-block;
  width: 30%;
  min-width: 200px;

	&:hover {
    border-color: $border-hover;
    box-shadow: 0 0 10px $border-hover;
    cursor: pointer;
  }
}

.show {
  animation: test 0.3s;
}

@keyframes test {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}


.hide {
	display: none;
}

.fadeout {
  animation: fadeout 0.2s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: $bg-transparent;
}

@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
    border-radius: 2px;
    border: 2px solid $border;
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    transform: skewX(20deg);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;

    span {
      display: inline-block;
      transform: skewX(-20deg);
    }

  &:hover {
    border-color: $border-hover;
    box-shadow: 0 0 10px $border-hover;
    cursor: pointer;
  }
}

.form-container {
	position: absolute;
  border: 2px solid $border;
  top: calc(50% - 180px);
  left: calc(50% - 297px/2);
  padding: 2%;
  background-color: $bg-transparent;

  h2 {
  	margin-top: 0;
  }

  #form {
    label {
      display: block;
      font-size: 18px;
    }

    input[type="text"] {
      background-color: transparent;
      color: white;
      border-radius: 2px;
      border: 2px solid $border;
      max-width: 50%;
      float: right;
      text-indent: 5px;
      font-size: 14px;
    }

    .edit {
      margin: 0 10px;
    }

    .message {
      margin-top: 10px;
    }
  }
}

@import 'effects';