<div id="rings">
    <div class="ring-1">
        <div class="ring-2">
            <div class="ring-3"></div>
        </div>
    </div>
</div>

<div id="rings2">
    <div class="ring-4">
        <div class="ring-5">
            <div class="ring-6"></div>
        </div>
    </div>
</div>