<h2 class="add">Add an Avenger</h2>
<h2 class="edit">Edit Avenger</h2>
<form id="form" method="post" action="/avengers">

	<% if (avenger.id) { %>
		<input type="hidden" name="id" id="id" value="<%= avenger.id %>">
	<% } %>
	<label for="givenName">Given name
<input type="text" name="givenName" id="givenName" value="<%= avenger.givenName ? avenger.givenName : '' %>">
	</label><br>
	<label for="familyName">Family name
<input type="text" name="familyName" id="familyName" value="<%= avenger.familyName ? avenger.familyName : '' %>">
	</label><br>
	<label for="email">Email
<input type="text" name="email" id="email" value="<%= avenger.email ? avenger.email : '' %>">
	</label><br>

	<button class="add"><span>Add</span></button>
	<button class="edit"><span>Edit</span></button>
	<button class="removeBtn edit"><span>Remove</span></button>
</form> 