<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Avengers Initiative</title>
		<link rel="stylesheet" href="css/styles.css" type="text/css">

	</head>
	<body>
	<h1>Avengers Initiative</h1>
	<div class="avengers">
		<% avengers.forEach((a) => { %>
		<div id="<%= a.id %>" class="avenger">
			<p class="name"> <%= a.givenName %> <%= a.familyName %> </p>
			<p class="email"> <%= a.email %> </p>
		</div>
		<% }) %>
	</div>

	<button class="add">AAA</a>
	  		<script src="events.js"></script>
	</body>
</html>