<div>
	<h3>Add an Avenger</h3>
	<form id="addForm" method="post" action="/avengers">

		<label for="givenName">Given name
			<input type="text" name="givenName" id="givenName"><br>
		</label>
		<label for="familyName">Family name
			<input type="text" name="familyName" id="familyName"><br>
		</label>
		<label for="email">Email
			<input type="text" name="email" id="email"><br>
		</label>

		<input type="submit" value="Add">
	</form> 
</div>