@font-face {
  font-family: 'Ubuntu';
  src: url("../css/fonts/UbuntuCondensed-Regular.ttf"); }

body {
  color: #C6E9F2;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  background: #020b10; }

#audio {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 4%; }
  #audio.on {
    background: no-repeat center/100% url("../svg/volume-medium.svg"); }
  #audio.off {
    background: no-repeat center/100% url("../svg/volume-mute.svg"); }
  #audio:hover {
    cursor: pointer; }

h1 {
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  color: #E3EFF2;
  -webkit-text-stroke: 1px #7299B5; }
  h1::after {
    content: '';
    position: absolute;
    top: 82%;
    left: 50%;
    box-shadow: 0 0 2px 15px #9ECAED;
    background-color: #9ECAED;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: scale(8, 0.1); }

.avenger {
  border: 2px solid #3499BA;
  margin: 10px 10px;
  display: inline-block;
  width: 30%;
  min-width: 200px; }
  .avenger:hover {
    border-color: #9ECAED;
    box-shadow: 0 0 10px #9ECAED;
    cursor: pointer; }

.show {
  animation: test 0.3s; }

@keyframes test {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.hide {
  display: none; }

.fadeout {
  animation: fadeout 0.2s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(2, 11, 16, 0.9); }

@keyframes fadeout {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

button {
  border-radius: 2px;
  border: 2px solid #3499BA;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  transform: skewX(20deg);
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px; }
  button span {
    display: inline-block;
    transform: skewX(-20deg); }
  button:hover {
    border-color: #9ECAED;
    box-shadow: 0 0 10px #9ECAED;
    cursor: pointer; }

.form-container {
  position: absolute;
  border: 2px solid #3499BA;
  top: calc(50% - 180px);
  left: calc(50% - 297px/2);
  padding: 2%;
  background-color: rgba(2, 11, 16, 0.9); }
  .form-container h2 {
    margin-top: 0; }
  .form-container #form label {
    display: block;
    font-size: 18px; }
  .form-container #form input[type="text"] {
    background-color: transparent;
    color: white;
    border-radius: 2px;
    border: 2px solid #3499BA;
    max-width: 50%;
    float: right;
    text-indent: 5px;
    font-size: 14px; }
  .form-container #form .edit {
    margin: 0 10px; }
  .form-container #form .message {
    margin-top: 10px; }

#rings {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 60%;
  z-index: -1;
  opacity: 0.05;
  width: 400px;
  height: 400px; }
  #rings .ring-1 {
    position: absolute;
    border: 5px solid #3499BA;
    border-top-color: #020b10;
    width: 380px;
    height: 380px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 22s linear infinite;
    -moz-animation: turn_clockwise 22s linear infinite;
    animation: turn_clockwise 22s linear infinite; }
  #rings .ring-2 {
    position: absolute;
    border: 10px solid #E3EFF2;
    border-top-color: #020b10;
    border-bottom-color: #020b10;
    width: 350px;
    height: 350px;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_counter_clockwise 25s infinite;
    -moz-animation: turn_counter_clockwise 25s infinite;
    animation: turn_counter_clockwise 25s infinite; }
  #rings .ring-3 {
    position: absolute;
    border: 2px solid #315379;
    border-bottom-color: #020b10;
    margin: 5px;
    width: 330px;
    height: 330px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 20s linear infinite;
    -moz-animation: turn_clockwise 20s linear infinite;
    animation: turn_clockwise 20s linear infinite; }

#rings2 {
  position: fixed;
  overflow: hidden;
  top: 50%;
  right: 60%;
  z-index: -1;
  opacity: 0.04;
  width: 500px;
  height: 500px; }
  #rings2 .ring-4 {
    position: absolute;
    border: 5px solid #E3EFF2;
    border-top-color: #020b10;
    width: 480px;
    height: 480px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 22s linear infinite;
    -moz-animation: turn_clockwise 22s linear infinite;
    animation: turn_clockwise 22s linear infinite; }
  #rings2 .ring-5 {
    position: absolute;
    border: 10px solid #3499BA;
    border-top-color: #020b10;
    border-bottom-color: #020b10;
    width: 450px;
    height: 450px;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_counter_clockwise 25s infinite;
    -moz-animation: turn_counter_clockwise 25s infinite;
    animation: turn_counter_clockwise 25s infinite; }
  #rings2 .ring-6 {
    position: absolute;
    border: 2px solid #315379;
    border-bottom-color: #020b10;
    margin: 5px;
    width: 430px;
    height: 430px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 20s linear infinite;
    -moz-animation: turn_clockwise 20s linear infinite;
    animation: turn_clockwise 20s linear infinite; }

@-webkit-keyframes turn_clockwise {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes turn_clockwise {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes turn_clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes turn_counter_clockwise {
  0% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes turn_counter_clockwise {
  0% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(0deg); } }

@keyframes turn_counter_clockwise {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
